<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Employee</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" formControlName="firstName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" formControlName="lastName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input id="phone" formControlName="phone" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="form-group">
                    <label>
                        <input type="radio" formControlName="gender" name="gender" value="male"> Male</label>
                    <label>&nbsp;&nbsp;
                        <input type="radio" formControlName="gender" name="gender" value="female"> Female</label>
                </div>
            </div>
            <div class="form-group">
                <input id="isActive" type="checkbox" formControlName="isActive" name="isActive">&nbsp;
                <label for="isActive" class="form-check-label">IsActive</label>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
<table border="1">
    <tr>
        <th style="padding:10px;">FormGroup</th>
        <th style="padding:10px;">FormControl (fullName)</th>
    </tr>
    <tr>
        <td style="padding:10px;">
            touched: {{employeeForm.touched}}
            <br /> dirty: {{employeeForm.dirty}}
            <br /> valid: {{employeeForm.valid}}
            <br /> Form Values: {{employeeForm.value|json}}
        </td>
        <td style="padding:10px;">
            touched: {{employeeForm.get('fullName').touched}}
            <br /> dirty: {{employeeForm.get('fullName').dirty}}
            <br /> valid: {{employeeForm.get('fullName').valid}}
            <br /> Form Name Value: {{employeeForm.get('fullName').value}}
        </td>
    </tr>
</table>